@{
    ViewBag.Title = "Dashboard v.1";
}

<center><h2>Welcome Employee Management System</h2></center>




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/app/RctDashboard.js?v=1.1"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<style>
    .widget-selected {
        border-bottom: 3px solid #65696b;
    }

    .detail-view-wise-count .tbl-app-list > tbody > tr > td:hover {
        font-weight: bold;
        cursor: pointer;
    }

    .datatabletdhide {
        display: none;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="row mb-10">
        <div class="col-md-12">
            <div style="margin  :4px;">
                <div id="divSessionWiseSummarytotal" class="row  border-bottom white-bg dashboard-header dashboard-header-blocks pd-0 row-session" style="height:fit-content; min-height:280px;">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 navy-bg" data-key="capproved">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-shadow"> Strength </span>
                                    <h3>
                                        <span class="pull-left session" style="color: #ffffff61;"></span><span class="pull-center text-shadow count" id="spmApplied"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 lazur-bg" data-key="submitted">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-shadow"> At Work </span>
                                    <h3>
                                        <span class="pull-left session" style="color:#ffffff61;"></span><span class="pull-center text-shadow count" id="spmSubmit"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 blue-bg" data-key="uapproved">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-shadow">Birthday</span>
                                    <h3>
                                        <span class="pull-left session" style="color: #ffffff61;"></span><span class="pull-center text-shadow count" id="spmUApproved"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 yellow-bg" data-key="upending">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-center">Late In  </span>
                                    <h3>
                                        <span class="pull-left session" style="color: #ffffff61;"></span><span class="pull-center text-shadow count" id="spmUPending"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 yellow-bg" data-key="upending">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-center">Early out  </span>
                                    <h3>
                                        <span class="pull-left session" style="color: #ffffff61;"></span><span class="pull-center text-shadow count" id="spmUPending"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="widget style1 yellow-bg" data-key="upending">
                            <div class="row">
                                <div class="col-8 text-center">
                                    <span class="text-center">Device </span>
                                    <h3>
                                        <span class="pull-left session" style="color: #ffffff61;"></span><span class="pull-center text-shadow count" id="spmUPending"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-4 col-lg-4">
            <div style="margin:4px;">
                <div id="divSessionWiseSummarytotal" class="row  border-bottom white-bg dashboard-header dashboard-header-blocks pd-0 row-session" style="height:fit-content; min-height:280px;">
                    <div style="height: 240px !important; width: 250px !important; margin: 0 auto;" id="divpieChart">
                        <canvas style="height: 240px !important; width: 250px !important;" id="pieChart"></canvas>
                    </div>

                </div>
            </div>
        </div>*@
    </div>

    <!--<div class="row mb-10">
        <div class="col-md-7">
            <div class="row" id="divSessionWisedata">
                <div class="col-md-12 detail-session-wise-count pd-0">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="border-bottom">
                                <h3 class="font-bold no-margins title mb-5">Advertisement wise data</h3>
                            </div>

                            <div class="mt-10">
                                <table id="tblSessionWiseData" class="table table-striped table-bordered table-condensed tbl-app-list">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 sessionWiseBarChart">
            <div class="panel">
                <div class="panel-heading" style="background-color: #1ab394;height:40px">
                    <h3 style="color:white">Advertisement Wise Chart</h3>
                </div>
                <div class="panel-body" style="background-color: white; height: 440px">
                    <main class="">
                        <div style=" height: 365px; width: 100% !important;" id="divbarChart">-->
                            @* <canvas style="height: 365px; width: 452px !important; margin-left: -37px; background-color: white; " id="barChart"></canvas>*@
                        <!--</div>
                        <div id="divbarChart">
                            <canvas style="height: 61px; width: 375px; background-color: white; " id="barChart"></canvas>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="row" id="divCoursewiselistdata">
                <div class="col-md-12 detail-view-wise-count pd-0 ">
                    <div class="ibox ">
                        <div class="ibox-content" style=" height: 600px; overflow: scroll;">
                            <div class="border-bottom">
                                <h3 class="font-bold no-margins title mb-5">Post wise list Of <span class="textpostname"></span></h3>
                            </div>

                            <div class="mt-10">
                                <table id="tblCoursewiselistdata" class="table table-striped table-bordered table-condensed tbl-app-list">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 CourseWiseDataLineChart" style=" height: 600px;">
            <div class="panel">
                <div class="panel-heading" style="background-color: #1ab394;height:40px">
                    <h3 style="color:white">Post wise Chart Of <span class="textpostname"></span></h3>
                </div>
                <div class="panel-body" style="background-color: white; height:555px; overflow: scroll;">
                    <main class="" style="">
                        <div id="divLineChart" style="height:549px;width:500px!important;">
                            <canvas style="height:835px;width:500px!important; background-color: white; " id="LineChart"></canvas>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="divApplicationDetailList">
        <div class="col-lg-12 detail-view-wise pd-0 ">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="border-bottom">
                        <h3 class="font-bold no-margins title mb-5">Application detail lists</h3>
                    </div>

                    <div class="mt-10">
                        <table id="tblApplicationDetailList" class="table table-striped table-bordered table-condensed tbl-app-list">
                            <thead>

                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>










