
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<style>
    .error-message {
        color: red;
    }

    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @@media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
    }

    @@media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
    }
</style>
<script src="~/Scripts/plugins/JQuery/jquerfile.js"></script>
<script src="~/Scripts/app/Login.js"></script>
<script src="~/Scripts/plugins/Alertify/alertify.js"></script>
<section class="h-100 gradient-form" style="margin-left:398px;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are Welcome To Employee Team</h4>
                                </div>
                                <form method="post">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="txtemail">User Name</label>
                                        <input type="email" id="txtemail" class="form-control"
                                               placeholder="Enter Your Email Address" name="EmailAddress" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="txtpasword">Password</label>
                                        <input type="password" id="txtpasword" name="Password" class="form-control" placeholder="Enter Your Password" />
                                    </div>
                                    <br />
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" id="btnlogin">
                                            Log
                                            in
                                        </button>
                                        <div class="error-message">
                                            @ViewData["Message"]
                                        </div>
                                        <a class="text-muted" href="#!">Forgot password?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Don't have an account? <a href="/Account/Index" style="color: #393f81;">Register here</a>
                                        </p>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

