
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<script src="~/Scripts/app/TransactionYearMaster.js"></script>
<div class="col-md-2" style="padding-top:25px;text-align:right;margin-left: 485px;">
    <button type="button" id="btnAddTransaction" class="btn btn-primary"><i style="width:10%" class="fa fa-plus"></i>Add New Transaction Year</button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"style="max-width:1000px; max-height:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"style="font-family:auto;font-size: 16px;color: darkblue;">New Add Transcation Year Data </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="required">Transaction Year :</label>
                            <select class="form-control select2_demo_2 ddldepartment" id="ddldepartment" name="ddldepartment">
                                <option value="0">Select</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="required">From Year:</label>
                            <select class="form-control select2_demo_2 ddldesignation" id="ddldesignation" name="ddldesignation">
                                <option value="0">Select</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="required">From Month:</label>
                            <input type="text" class="form-control input-sm t-name" name="empdate" id="empdate" placeholder="Enter Employee Date Of Birth" autocomplete="off" required />
                        </div>
                        <div class="col-md-3">
                            <label class="required">To Year:</label>
                            <select class="form-control select2_demo_2 ddldesignation" id="ddldesignation" name="ddldesignation">
                                <option value="0">Select</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="required">To Month:</label>
                            <input type="text" class="form-control input-sm t-name" name="empdate" id="empdate" placeholder="Enter Employee Date Of Birth" autocomplete="off" required />
                        </div>
                        <div class="col-md-1">
                            <label class="">Status:</label>
                            <input type="checkbox" class="form-control input-sm isactive" id="Status" name="Status" title="Status " required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<br />

<div class="panel panel-primary no-radius" style="margin-top: 63px;">
    <div class="panel-heading no-radius">
        Transaction Year Master  Details List:-
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-resposive mt-15">
                        <table class="table table-bordered table-condensed table-hover table-tbldata   tbldata" style="overflow-x: scroll; display:normal; width: 100%;" cellspacing="0" id="tbltarnsationDetails"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
