<div class="footer">
    <div class="float-right">
        Employee Management Office 
    </div>
    <div>
        <strong>Copyright</strong> Employee Mangement Company &copy; 2023 - 2024
    </div>
</div>
