<div class="row border-bottom white-bg">
    <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation" style="background-color:honeydew;">
        <a href="/Dashboards/Dashboard_1" class="navbar-brand">Emp</a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-reorder"></i>
        </button>*@
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="active">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Layouts")"> Back to main Layout page</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Time Champ</a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="https://desktime.com/employee-time-tracking-software?utm_source=google&utm_medium=cpc&utm_campaign=TimeTracking_Generic_India_EN_R_Search_Google&utm_content=employee+time+tracking&utm_term=employee%20time%20tracking&gad_source=1&gclid=Cj0KCQjwqpSwBhClARIsADlZ_TkAmTxIAMhtYJonZD8a97k7uVvgZ4KO8tGWvA5jEOVQo9KLuRGseZ8aApPfEALw_wcB">Time Tracking for Productivity Measurements</a></li>
                        <li><a href="">Application and Website Monitoring</a></li>
                        <li><a href="">Visual Representation of Productivity</a></li>
                        <li><a href="">Customized Productivity Standards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Performance Management System</a>
                    <ul role="menu" class="dropdown-menu">
                        @*<li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>*@
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Payroll Mangmenet Employee System</a>
                    <ul role="menu" class="dropdown-menu">
                        @*<li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>*@
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Task Management System</a>
                    <ul role="menu" class="dropdown-menu">
                        @*<li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>*@
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="/Account/Logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>